@keyframes pulse {
  0%,
  100% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes pulse-border {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(215, 129, 190, 1);
    box-shadow: 0 0 0 0 rgba(215, 129, 190, 1);
  }
  90% {
    -moz-box-shadow: 0 0 0 10px rgba(215, 129, 190, 0);
    box-shadow: 0 0 0 10px rgba(215, 129, 190, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(215, 129, 190, 0);
    box-shadow: 0 0 0 0 rgba(215, 129, 190, 0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


.gradient-border {
  --border-width: 2px;
  border-radius: var(--border-width);
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
                    60deg,
                    rgba(249, 221, 0, 0.8),
                    rgba(15, 23, 42, 0.8)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 3s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
