@font-face {
  font-family: "SourceCode";
  src: url("../fonts/SourceCodePro-Regular.ttf");
}
@font-face {
  font-family: "SourceCode";
  src: url("../fonts/SourceCodePro-Bold.ttf");
  font-weight: bold;
}

body {
  font-family: SourceCode;
}

@import "animations";
