@import "tailwindcss";
@import "./nav.css";
@import "./icon-button.css";
@import "./gallery.css";
@import "./logo.css";
@import "./footer.css";
@import "./poster.css";
@import "./band.css";
@import "./news-item.css";
@import "./event.css";
@import "./band-button.css";

@font-face {
    font-family: "SourceCode";
    src: url("/fonts/SourceCodePro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SourceCode";
    src: url("/fonts/SourceCodePro-Bold.ttf") format("truetype");
    font-weight: bold;
}

@theme {
    --color-jo-primary: #FFFD0A;
    --color-slate-transparent: rgba(15, 23, 42, 0.9);
    --color-black-transparent: rgba(0, 0, 0, 0.4);
    --min-width-52: 13rem;

}

:root {
    --jo-bg-image: url("/images/back_2025.webp");
}

body {
    @apply bg-center bg-cover;
    font-family: SourceCode, monospace;
    background-image: var(--jo-bg-image);
}

.page-enter-active,
.page-leave-active {
    transition: all 0.7s;
}

.page-enter-from,
.page-leave-to {
    margin-top: 60vh;
}

@keyframes pulse-scale {
    0%,
    100% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes pulse-border {
    0% {
        box-shadow: 0 0 0 0 rgba(215, 129, 190, 1);
    }

    90% {
        box-shadow: 0 0 0 10px rgba(215, 129, 190, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(215, 129, 190, 0);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

.gradient-border {
    --border-width: 2px;
    border-radius: var(--border-width);
    position: relative;
}

.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, rgba(249, 221, 0, 0.8), rgba(15, 23, 42, 0.8));
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 3s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}
