.jo-nav {
    @apply mb-0.5 ml-auto w-fit;
}

.jo-nav__item {
    @apply bg-slate-transparent text-slate-300 text-center text-jo-primary font-semibold uppercase tracking-widest;
    @apply hover:text-slate-transparent;
    @apply hover:bg-jo-primary;
    @apply hover:cursor-pointer;
    @apply flex items-center justify-center;
    transform: skew(-15deg, 0deg);
}

.jo-nav__item--active {
    @apply bg-jo-primary text-slate-transparent;
}
