.jo-news-item__wrapper {
    @apply rounded-md p-2 w-full;
    background-color: rgba(0, 0, 0, 0.85);
}

.jo-news-item__title {
    @apply text-2xl font-bold text-jo-primary bottom-0 left-0 px-2 group-hover:text-black group-hover:bg-jo-primary;
    background-color: rgba(0, 0, 0, 0.9);
}

.jo-news-item__text {
    @apply text-sm text-neutral-300 group-hover:bg-jo-primary group-hover:text-black;
}

.jo-news-item__bottom {
    @apply flex justify-between items-center mt-4;
}

.jo-news-item__date {
    @apply text-base font-bold bg-jo-primary px-1 mr-2;
}

.jo-news-item__location {
    @apply text-base font-bold bg-jo-primary px-1 hover:bg-black hover:text-jo-primary;
}

.jo-news-item__image {
    @apply w-full h-48 object-cover rounded-md;
    animation: zoomInOut 5s infinite;
}

.jo-news-item__image--center {
    @apply object-center;
}

.jo-news-item__image--top {
    @apply object-top;
}

.jo-news-item__image--bottom {
    @apply object-bottom;
}

.jo-news-item__image--left {
    @apply object-left;
}

.jo-news-item__image--right {
    @apply object-right;
}

@keyframes zoomInOut {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }
}
