---
import Icon from "./Icon.astro";

interface Props {
  iconName: "event" | "facebook" | "instagram" | "location" | "ticket";
  link: string;
  alt?: string;
  class?: string;
}

const { iconName, link, alt, class: className = "" } = Astro.props;
---

<a
  aria-label={`${alt || iconName} Ještědské Odysey`}
  href={link}
  class={`jo-button--icon rounded-full p-2 inline-flex border-solid border-2 border-jo-primary hover:bg-jo-primary group bg-black-transparent ${className}`}
  target="_blank"
  rel="noopener noreferrer"
>
  <Icon iconName={iconName} class="m-auto group-hover:fill-black" />
</a>

<style>
  .jo-button--icon:hover {
    animation: pulse-border 1s infinite;
  }
</style>
