---
import { Image } from "astro:assets";
import map1 from "../assets/maps/map1.png";
import map2 from "../assets/maps/map2.png";
---

<div class="pb-16">
  <p class="bg-slate-transparent text-white p-2">
    JO!\\UPDATE\\***... <br />
    V sobotu ve Vesci! <br />
    2023 Ještědská odysea odstartuje tradičně lehce po poledni - DJ stage začínají produkci ve dvě hodiny, kapely
    startují o páté. Kompletní seznam účinkujících najdete na konci příspěvku.<br />
    Počasí objednáno!<br />
    Využijte možnosti předprodeje vstupenek za 350 Kč.<br />
    Předprodej končí ve čtvrtek. Vstupenky na místě budou v prodeji za 400 Kč.<br />
    Děti do 15 let zdarma.<br />
    Pivní menu:<br />
    Letos máme vlastní DIY festivalové pivo - Létající pivovarník Kosa Prérií je totiž člen naší party a uvede svůj
    Pozdrav z planety Chmelmek! APA 11° - lehčí ejl s chmely Azacca, Idaho7 a Enigma. Hořkost tě bude bavit a vydržíš
    s ním až do svítání.<br />
    O ležáky se postará pivovar Rohozec - Skalák 11° což je česká klasika a Ypsilon 10.5° lehčí ležák chmelený i za
    studena.<br />
    Na barech najdete samozřejmě i výběr nealko nápojů a tvrdého alkoholu.<br />
    Cigarety na barech nekoupíte.<br />
    Hlad budete moci zahnat tradičně u stánku FOOD NOT BOMBS a letos se účastní také liberecká FRESH Cantine.<br />
    Vybavte se dostatečně hotovostí! Platby na vstupu, barech a stáncích budou možné pouze v hotovosti.<br />
    Pokud dorazíte autem, zaparkujte na oficiálním parkovišti sportovního areálu Vesec. Nevjíždějte do prostoru, kde
    se koná festival!<br />
    Line-upy zveřejníme zde + je potom najdete na naší webové stránce (nejrychleji se k nim na akci dostanete přes QR
    kód na vaší vstupence)<br />
    Těšíme se na vás:
  </p>
  <Image src={map1} alt="Mapa - Sportovní areál Vesec - Liberec" />
  <Image src={map2} alt="Mapa - Sportovní areál Vesec - Liberec" />
</div>
