---
import IconButton from "./IconButton.astro";
---

<div class="jo-footer w-full p-8">
    <div class="jo-footer__buttons">
        <IconButton class="mr-4" iconName="facebook" link="https://www.facebook.com/JestedskaOdysea" />
        <IconButton class="mr-4" iconName="instagram" link="https://www.instagram.com/jestedska_odysea/" />
        <IconButton iconName="location" alt="Mapa" link="https://goo.gl/maps/tXxggo9w2XUE1H94A" />
    </div>
</div>
