---
import galleryItems from "../content/gallery.json";
import type { GalleryItem } from "../types/content";
import JoGalleryItem from "./JoGalleryItem.astro";

const items = galleryItems as GalleryItem[];
---

<div class="jo-gallery">
  {items.map((item) => <JoGalleryItem item={item} />)}
</div>
