---
import navItems from "../content/navigation.json";
import type { NavigationItem } from "../types/content";

interface Props {
  currentPath: string;
}

const { currentPath } = Astro.props;
const items = navItems as NavigationItem[];
---

<nav class="jo-nav">
  <ul class="flex flex-row justify-center">
    {items.map((item) => (
      <li class={`jo-nav__item ${currentPath === item.path ? "jo-nav__item--active" : ""}`}>
        <a href={item.path} class="px-2 py-1" aria-current={currentPath === item.path ? "page" : undefined}>
          {item.title}
        </a>
      </li>
    ))}
  </ul>
</nav>

<style>
  .jo-nav {
    @apply mb-0.5 ml-auto w-fit;
  }

  .jo-nav__item {
    @apply bg-slate-transparent text-slate-300 text-center text-jo-primary font-semibold uppercase tracking-widest;
    @apply hover:text-slate-transparent;
    @apply hover:bg-jo-primary;
    @apply hover:cursor-pointer;
    @apply flex items-center justify-center;
    transform: skew(-15deg, 0deg);
  }

  .jo-nav__item--active {
    @apply bg-jo-primary text-slate-transparent;
  }
</style>
