---
import news from "../content/news.json";
import type { JoNewsItem } from "../types/content";
import JoNewsItemComponent from "./JoNewsItem.astro";

const items = news as JoNewsItem[];
---

{
  items.map((item) => (
    <div class="mb-4">
      <JoNewsItemComponent item={item} />
    </div>
  ))
}
