name: Deploy Astro to FTP

on:
  push:
    branches: [ main ]

concurrency:
  group: deploy-main
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 24.13.0

    - name: Enable Corepack
      run: corepack enable

    - name: Use Yarn 4.12.0
      run: corepack prepare yarn@4.12.0 --activate

    - name: Yarn install
      run: yarn install --immutable

    - name: Build
      run: yarn build

    - name: Deploy to FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: dist/
        server-dir: ${{ secrets.FTP_REMOTE_DIR }}
